.header {
  height: 60px;
  border-bottom: 1px solid #eee;
  box-shadow: 0 -9px 15px #000;
  background-color: #fff;

  .right-side {
    width: 30%;

    .search {
      font-size: 20px;
      padding: 10px;;
    }

    .new-survey {
      padding: 0 20px 0 20px;
    }
  }
  

  .left-side {
    .breadcrumbs {
      font-size: 18px;

      .element {
        padding: 4px;
      }
    }
  }
}

.content {
  padding: 10px 10px 0 40px;

  .block-title {
    .badge {
      margin-left: 12px;
    }
  }

  .surveys-list {
    .surveys-item {
      .time-to-suspend {
        margin-bottom: 15px;

        span.spacing {
          padding: 0 5px;
          color: #a0a0a0;
          font-size: 12px;
          
          span {
            color: #333;
            font-size: 18px;
          }
        }
      }

      .survey-block {
        
      }
    }
  }
}