.view-outside .view-block {
  min-width: 400px;
  max-width: 800px;
  margin-top: 20px;

  .view-title {
    background-color: #fff;
    padding: 20px 10px 10px 10px;
    box-shadow: 0 0 10px #aaa;
    border-radius: 2px;
  }

  .view-question-block {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px 0px 10px 0px;
    box-shadow: 0 0 10px #aaa;
    border-radius: 2px;

    .view-question-title {
      padding: 0 10px;
    }

    .view-question-answer {
      padding-left: 55px;
      margin-bottom: 0;
      cursor: pointer;
    }
  }

  .view-button-next {
    margin-top: 20px;
  }
}